<% content_for :head do %>
  <%= stylesheet_link_tag 'message' %>
<% end %>

<div id="controls">
  <%= link_to 'compose', new_message_path %> |
  <%= link_to 'sent mail', messages_path(:sent => true) %>
</div>

<table id="messages">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Subject</th>
    <th>Date</th>
  </tr>
<% @messages.each do |m| %>
  <tr>
    <td><%=h m.sender.name %></td>
    <td><%= truncate h(m.recipients), :length => 25 %></td>
    <td><%= link_to truncate(h(m.subject), :length => 25), m %></td>
    <td><%= m.created_at.to_s(:withtime) %></td>
  </tr>
<% end %>
</table>