<% content_for :head do %>
  <%= stylesheet_link_tag 'message' %>
  <%= javascript_include_tag 'message' %>
<% end %>

<h1>Compose Message</h1>
<%= form_for @message do |f| %>
  <%= errors_on @message %>
  <p>
    <%= f.label :recipient_ids, 'To' %>
    <% User.find(:all, :conditions => "id <> #{current_user.id}").each do |r| %>
      <%= check_box_tag "recipient_ids[]", r.id, @recipients && @recipients.include?(r) %>
      <%= r.name %>
    <% end %>
  </p>
  <p>
    <%= f.label :subject %>
    <%= f.text_field :subject, :size => 40 %>
  </p>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Send' %>
    <%= link_to 'cancel', :back, :confirm => 'Are you sure?' %>
  </p>
<% end %>