<% content_for :head do %>
  <%= stylesheet_link_tag 'message' %>
<% end %>

<%= link_to '< back', :back %>

<ul id="headers">
  <li>
    <div class="header">from</div>
    <div class="value"><%=h @message.sender.name %></div>
  </li>
  <li>
    <div class="header">to</div>
    <div class="value"><%=h @message.recipients %></div>
  </li>
  <li>
    <div class="header">subject</div>
    <div class="value"><%=h @message.subject %></div>
  </li>
  <li>
    <div class="header">date</div>
    <div class="value"><%=h @message.created_at.to_s(:withtime) %></div>
  </li>
</ul>

<div id="body"><%= sanitize(@message.body) %></div>

<div id="options">
  <%= link_to 'reply', reply_message_path(@message) %> |
  <%= link_to 'reply to all', reply_message_path(@message, :all => true) %> |
  <%= link_to 'delete', @message, :method => :delete, :confirm => 'Are you sure?' %>
</div>