<%= form_for @session, :url => { :action => 'create' } do |f| %>
  <p>
    <%= f.label :login, 'Username' %>
    <%= f.text_field :login, :size => 15 %>
  </p>
  <p>
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, :size => 15 %>
  </p>
  <p>
    <%= f.submit 'Login' %>
  </p>
<% end %>
<div id="reset">
  <%= link_to 'Help! I forgot my username or password.', reset_auth_path %>
</div>