  <p>
    <%= f.label :name, 'Short Description' %>
    <%= f.text_field :name, :size => 30 %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url, :size => 40 %>
  </p>
  <p>
    <%= f.label :description, 'Long Description' %>
    <%= f.text_area :description, :size => '40x5' %>
  </p>