<%= errors_on @recommendation %>

<%= form_for @recommendation, :html => { :class => 'five' } do |f| %>
  <h1>Edit Recommendation</h1>
  <%= render :partial => 'recommendation', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update Recommendation" %>
    <%= link_to 'cancel', :back, :confirm => 'Are you sure?', :class => 'cancel' %>
  </p>
<% end %>