<div id="container">
  <div id="sidebar">
    <ul id="controls">
      <li style="control"><%= link_to 'compose', new_message_path %></li>
    </ul>
    <ul id="mailboxes">
      <% current_user.mailboxes.each do |mailbox| %>
        <li class="<%= (@mailbox == mailbox) ? 'current' : '' %>">
          <%= link_to mailbox.name, mailbox_path(mailbox) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="messagepane">
    <div id="messages">
      <%= render :partial => 'messages' %>
      <div id="loading" style="display: none;"><br /><%= image_tag 'loader.gif' %></div>
    </div>
  </div>
</div>

