<%
  if controller.action_name == 'new' || controller.action_name == 'create'
    type = 'Create'
  else
    type = 'Update'
  end
%>

<%= form_for [@item.wishlist, @item], :html => { :class => 'five' } do |f| %>
  <%= errors_on @item %>
  <h1><%= type %> Item</h1>
  <p>
    <%= f.label :name, 'Short Description' %>
    <%= f.text_field :name, :size => 30 %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url, :size => 40 %>
  </p>
  <p>
    <%= f.label :description, 'Long Description' %>
    <%= f.text_area :description, :size => '40x5' %>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to 'cancel', :back, :confirm => 'Are you sure?', :class => 'cancel' %>
  </p>
<% end %>