    <% if @users.count <= 0 %>
      You are all alone.  I'm sorry dave.
    <% elsif total_count(@users) <= 0 %>
      There are no wishlists with items on them.  Sad.
    <% else %>
      <% if @user.wishlists.first.items.count <= 0 %>
        <div class="missing"><%= @user.name %> longs for nothing</div>
      <% else %>
        <ul class="list compact">
        <% @user.wishlists.first.items.each do |item| %>
          <li class="<%= "grey" if item.buyer %>">
            <div class="links">
              <% if item.buyer %>
                bought by <%= item.buyer.name %>
              <% else %>
                <%= link_to 'mark as bought', buy_wishlist_item_path(@wishlist, item),
                            :method => :put %>
              <% end %>
            </div>
            <div class="title">
              <% if item.url.blank? %>
                <%=h item.name %>
              <% else %>
                <%= link_to h(item.name), h(item.url) %>
              <% end %>
            </div>
            <div class="subtitle">
              <%=h item.description %>
            </div>
          </li>
        <% end %>
        </ul>
      <% end %>
      <h1>Recomendations</h1>
      <% if @user.recommendations_for.count <= 0 %>
        <div class="missing">
          Nobody has recommended anything for <%= @user.name %>. You could be first!
        </div>
      <% else %>
        <ul class="list compact">
          <% @user.recommendations_for.each do |r| %>
          <li class="<%= "grey" if r.buyer %>">
            <div class="links">
              <% if r.buyer %>
                bought by <%= r.buyer.name %>
              <% elsif r.by == current_user %>
                <%= link_to 'edit', edit_recommendation_path(r) %> |
                <%= link_to 'delete', recommendation_path(r), :method => :delete,
                            :confirm => 'Are you sure?' %>
              <% else %>
                <%= link_to 'mark as bought', buy_recommendation_path(r), :method => :put %>
              <% end %>
            </div>
            <div class="pretitle"><%=h r.by.name %> recommends:</div>
            <div class="title">
              <% if r.url.blank? %>
                <%=h r.name %>
              <% else %>
                <%= link_to h(r.name), h(r.url) %>
              <% end %>
            </div>
            <div class="subtitle">
              <%=h r.description %>
            </div>
          </li>
          <% end %>
        </ul>
      <% end %>
      <%= link_to 'make a recomendation', new_user_recommendation_path(@user),
                  :class => 'ajaxify' %>
    <% end %>
