<% content_for :head do %>
  <%= stylesheet_link_tag 'list', 'wishlist' %>
  <%= javascript_include_tag 'wishlist' %>
<% end %>

<div class="left">
  <h1>My Stuff</h1>
  <% if @wishlist.items.count <= 0 %>
    Looks like you don't have anything on your wishlist.  Why not
    <%= link_to 'add something', new_wishlist_item_path(@wishlist) %> now?
  <% else %>
    <ul class="list compact">
    <% @wishlist.items.each do |item| %>
      <li>
        <div class="links">
          <%= link_to 'edit', edit_wishlist_item_path(@wishlist, item) %> |
          <%= link_to 'delete', wishlist_item_path(@wishlist, item), :method => :delete,
                      :confirm => 'Are you sure?' %>
        </div>
        <div class="title">
          <% if item.url.blank? %>
            <%=h item.name %>
          <% else %>
            <%= link_to h(item.name), h(item.url) %>
          <% end %>
        </div>
        <div class="subtitle">
          <%=h item.description %>
        </div>
      </li>
    <% end %>
    </ul>
    <%= link_to 'add item', new_wishlist_item_path(@wishlist), :class => 'ajaxify' %>
  <% end %>

  <h1>Stuff You've Bought</h1>
  <% if current_user.bought_items.count <= 0 %>
    You haven't bought anything yet.  Get shopping.
  <% else %>
    <ul class="list compact">
    <% current_user.bought_items.each do |item| %>
      <li>
        <div class="links">
          <%= link_to 'return', return_wishlist_item_path(@wishlist, item), :method => :put %>
        </div>
        <div class="title">
          <%= item.wishlist.user.name %>:
          <% if item.url.blank? %>
            <%=h item.name %>
          <% else %>
            <%= link_to h(item.name), h(item.url) %>
          <% end %>
        </div>
        <div class="subtitle">
          <%=h item.description %>
        </div>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>

<div class="right">
  <div class="heading">
    <% form_tag wishlists_path, :method => :get, :class => 'selector' do %>
      <%= submit_tag 'change' %>
      <%= select_tag :id, user_options(@users) %>
    <% end %>
    Stuff
  </div>
  <div id="theirlist">
    <%= render :partial => 'wishlist' %>
  </div>
  <div id="loading" style="display: none;"><%= image_tag 'loading.gif' %></div>
</div>

<div class="bottom"></div>