<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= h(yield(:title) || "Failing Santa") %></title>
  <%= stylesheet_link_tag 'application' %>
  <!--[if IE 7]><%= stylesheet_link_tag 'jselect-ie7' %><![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
  <div id="feedback">
    <%= link_to image_tag('feedback.png'), new_feedback_path, :class => 'ajaxify' %>
  </div>
  <div id="header">
    <ul id="menu" class="left">
      <%= menu_item 'home', :root %>
      <% if current_user %>
        <% unread_count = current_user.inbox.messages.find_all_by_new(true).count %>
        <% message_menu_text = 'messages' + ((unread_count > 0) ? " (#{unread_count})" : '') %>
        <%= menu_item message_menu_text, mailbox_path(current_user.inbox) %>
      <% end %>
      <% if current_user && current_user.admin? %>
        <%= menu_item 'manage users', users_path %>
        <%= menu_item "feedback (#{Feedback.all.count})", feedback_index_path %>
      <% end %>
    </ul>
    <% if current_user %>
      <div class="right">
        Welcome, <%= current_user.name %>
        [ <%= link_to 'log out', logout_path, :method => :delete %> ]
      </div>
    <% end %>
  </div>
  <div id="content">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div id="error"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer"></div>

  <%= javascript_include_tag 'application' %>
  <% if Rails.env.production? %>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost +
                            "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-1496316-3");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  <% end %>
</body>

</html>
