<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title><%= h(yield(:title) || "Failing Santa") %></title>
  <%= stylesheet_link_tag "main", "form" %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= yield :head %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<% if RAILS_ENV == 'production' -%>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-1496316-3");
  pageTracker._trackPageview();
  } catch(err) {}</script>
<% end -%>

<body>
  <div id="feedback">
    <%= link_to image_tag('feedback.png'), new_feedback_path %>
  </div>
  <div id="header">
    <ul id="menu" class="left">
      <%= menu_item 'home', :root %>
      <%= menu_item 'messages', messages_path %>
      <% if current_user && current_user.admin? %>
        <%= menu_item 'manage users', users_path %>
      <% end %>
    </ul>
    <% if current_user %>
      <div class="right">
        Welcome, <%= current_user.name %>
        [ <%= link_to 'log out', logout_path, :method => :delete %> ]
      </div>
    <% end %>
  </div>
  <div id="content">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div id="error"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer"></div>
</body>

</html>
